requests==2.32.5
transformers==4.57.1
torch==2.9.1
google-genai==1.52.0
langchain==1.0.8
langchain-google-genai==3.1.0
fastapi==0.121.3
uvicorn==0.30.6
pandas==2.3.3
tensorflow==2.17.0
xgboost==2.1.1
numpy==1.26.4
scikit-learn==1.7.2
kiteconnect==5.0.1
TA-Lib==0.6.8
yfinance==0.2.66
psutil==6.0.0
pyarrow==17.0.0
psycopg2-binary==2.9.11
SQLAlchemy==2.0.45